[server]
hosts = 0.0.0.0:${PORT}
reverse_proxy = True

[rights]
type = radicale.rights.allow_all

[auth]
type = none
htpasswd_filename = /data/users
htpasswd_encryption = bcrypt

[storage]
filesystem_folder = /data/collections

[logging]
level = info

[web]
type = internal 